body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #6200ea;
    border-bottom: 2px solid #6200ea;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.1em;
}

li i {
    flex-shrink: 0; /* Иконка не сжимается */
    width: 30px; /* Фиксированная ширина для всех иконок */
    text-align: center;
    margin-right: 10px;
    color: #6200ea;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

a:hover {
    color: #6200ea;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #6200ea;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}
